In [2]:
import pandas as pd
import numpy as ny

In [3]:
df = pd.read_csv('GDPlist.csv', encoding='unicode_escape')
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [4]:
# Bộ dữ liệu chứa bao nhiêu dòng, bao nhiêu cột

df.shape

(125, 3)

In [5]:
# Thang đo tương ứng của các thuộc tính được lưu trữ

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [9]:
df.describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [6]:
# GDP của các quốc gia có đồng đều không
# Mình sẽ tính phương sai và độ lệch chuẩn, ra được kết quả mình sẽ nhận xét dựa trên 2 chỉ số này

# Phương sai (Variance)
df_price.var()

NameError: name 'df_price' is not defined

In [ ]:
# Độ lệch chuẩn
df_price.std()

In [ ]:
# Vẽ biểu đồ - Sử dụng dụng biểu đồ histogram để phân tích sự đồng đều về GDP của các quốc gia

sns.histplot(df_price)

In [ ]:
# Mỗi châu lục có bao nhiêu quốc gia nằm trong bảng dữ liệu
# values: 'Country'
# index:
# columns: 'Continent'
# aggfunc: 'count'

df.pivot_table(values='Country', columns='Continent', aggfunc = 'count')

In [8]:
# Tổng GPD của các châu lục

# values: 'GDP'
# index: 'Continent'
# columns:
# aggfunc: 'sum'

df.pivot_table(values='GDP (millions of US$)', index='Continent', aggfunc = 'sum')

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [ ]:
# Top 10 quốc gia có GDP cao nhất

# values: 'GDP'
# index: 'Country'
# columns:
# aggfunc: 'max'

df.pivot_table(values='GDP', index='Country', aggfunc = 'max')