### Kiểm định tương quan trên bộ dữ liệu covid-19

Mục tiêu: Kiểm định tương quan giữa các thuộc tính định lượng

Mô tả bài toán

Bộ dữ liệu subset-covid-data.csv chứa thông tin về tình hình covid ngày 12/4/2020 Hãy thực hiện những kiểm định sau với mức ý nghĩa 5%:

- Có mối tương quan nào giữa dân số và số ca nhiễm bệnh hay không
- Có mối tương quan nào giữa số ca mắc và ca tử vong ở các quốc gia hay không
- Hãy tiến hành rời rạc hóa thuộc tính population thành các nhóm theo thứ tự tăng dần đặt tên là biến population_ordinal:

 1: nếu population < tứ phân vị thứ nhất
  
 2: Population nằm trong khoảng từ tứ phân vị thứ nhất tới tứ phân vị thứ 2
 
 3: nếu population nằm trong khoảng từ tứ phân vị thứ 2 tới thứ 3
 
 4: nếu population >= tứ phân vị thứ 3
Hãy kiểm tra mối tương quan giữa thuộc tính population_ordinaly với số ca nhiễm bệnh

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
df = pd.read_csv('subset-covid-data.csv')

In [4]:
df.head()

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       206 non-null    object
 1   continent     206 non-null    object
 2   date          206 non-null    object
 3   day           206 non-null    int64
 4   month         206 non-null    int64
 5   year          206 non-null    int64
 6   cases         206 non-null    int64
 7   deaths        206 non-null    int64
 8   country_code  202 non-null    object
 9   population    202 non-null    float64
dtypes: float64(1), int64(5), object(4)
memory usage: 16.2+ KB

#### Có mối tương quan nào giữa dân số và số ca nhiễm bệnh hay không

In [6]:
df1 = df[['cases', 'population']]
df1 = df1.dropna()
stats.pearsonr(df1['cases'], df1['population'])

PearsonRResult(statistic=0.17553926594294003, pvalue=0.012460310704208348)

vì pvalue = 0.012 < 0.05
do vậy có mỗi tương quan giữa dân số và số ca nhiễm bệnh

#### Có mối tương quan nào giữa số ca mắc và ca tử vong ở các quốc gia hay không

In [7]:
df2 = df[['cases', 'deaths']]
df2 = df2.dropna()
stats.pearsonr(df2['cases'], df2['deaths'])

PearsonRResult(statistic=0.9432201374746727, pvalue=1.3451948745844029e-99)

pvalue = 1.345e-99 < 0.05 --> có đủ cơ sở để chứng minh có mối tương quan giữa số ca nhiễm bệnh và ca tử vong