# [Thực hành] phân tích dữ liệu trên bộ dữ liệu Quản lý chất lượng

In [1]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('Quality.xlsx')

C:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [3]:
df.head()

   Sample 1  Sample 2  Sample 3  Sample 4
0     11.55     11.62     11.91     12.02
1     11.62     11.69     11.36     12.02
2     11.52     11.59     11.75     12.05
3     11.75     11.82     11.95     12.18
4     11.90     11.97     12.14     12.11

In [7]:
sample=pd.concat([df['Sample 1'], df['Sample 2'], df['Sample 3'], df['Sample 4']], axis=0).reset_index(drop=True)
sample

0      11.55
1      11.62
2      11.52
3      11.75
4      11.90
       ...
115    12.17
116    11.94
117    11.97
118    12.23
119    12.25
Length: 120, dtype: float64

In [8]:
sample=pd.concat([df['Sample 1'], df['Sample 2'], df['Sample 3'], df['Sample 4']], axis=0).reset_index()
sample

     index      0
0        0  11.55
1        1  11.62
2        2  11.52
3        3  11.75
4        4  11.90
..     ...    ...
115     25  12.17
116     26  11.94
117     27  11.97
118     28  12.23
119     29  12.25

[120 rows x 2 columns]

In [12]:
sample1 = pd.concat([df['Sample 1'], df['Sample 2'], df['Sample 3'], df['Sample 4']], axis=1)
sample1

    Sample 1  Sample 2  Sample 3  Sample 4
0      11.55     11.62     11.91     12.02
1      11.62     11.69     11.36     12.02
2      11.52     11.59     11.75     12.05
3      11.75     11.82     11.95     12.18
4      11.90     11.97     12.14     12.11
5      11.64     11.71     11.72     12.07
6      11.80     11.87     11.61     12.05
7      12.03     12.10     11.85     11.64
8      11.94     12.01     12.16     12.39
9      11.92     11.99     11.91     11.65
10     12.13     12.20     12.12     12.11
11     12.09     12.16     11.61     11.90
12     11.93     12.00     12.21     12.22
13     12.21     12.28     11.56     11.88
14     12.32     12.39     11.95     12.03
15     11.93     12.00     12.01     12.35
16     11.85     11.92     12.06     12.09
17     11.76     11.83     11.76     11.77
18     12.16     12.23     11.82     12.20
19     11.77     11.84     12.12     11.79
20     12.00     12.07     11.60     12.30
21     12.04     12.11     11.95     12.27
22     11.98     12.05     11.96     12.29
23     12.30     12.37     12.22     12.47
24     12.18     12.25     11.75     12.03
25     11.97     12.04     11.96     12.17
26     12.17     12.24     11.95     11.94
27     11.85     11.92     11.89     11.97
28     12.30     12.37     11.88     12.23
29     12.15     12.22     11.93     12.25

# [Bài tập] Kiểm định giả thuyết trên bộ dữ liệu credit scoring

### Mục tiêu
So sánh giá trị trung bình giữa hai tổng thể độc lập

### Mô tả
- Bộ dữ liệu Credit_Scoring.csv đã được giới thiệu từ những buổi trước.

### Bạn hãy thực hiện những kiểm định sau để phân tích đặc điểm của khách hàng tiềm năng

- Có phải những khách hàng không có người phụ thuộc sẽ có thu nhập trung bình theo tháng (MonthlyIncome) nhỏ hơn những khách hàng có người phụ thuộc không (với mức ý nghĩa 10%)

- Có phải trung bình số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây (SeriousDlqin2yrs =1) thì sẽ cao hơn những khách hàng không gặp khó khăn không với mức ý nghĩa 10%

Hướng dẫn
Sử dụng pandas để đọc dữ liệu

Sử dụng kiểm định Independent T test với hàm ttest_ind với kiểm định cho kiểm định 1 phía (trái hay phải tùy theo cách bạn viết giả thuyết)

In [15]:
# Đọc dữ liệu

df1 = pd.read_csv('Credit_Scoring.csv')
df1.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

In [16]:
df1.columns

Index(['Unnamed: 0', 'SeriousDlqin2yrs',
       'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')